<!DOCTYPE html>
<html ng-app="shuffling">

  <head>
    <meta charset="utf-8" />
    <title>Shuffling Pines</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="vendors.js"></script>
    <script src="app.js"></script>
  </head>

  <body>
    <h1>Shuffling Pines</h1>
    <div class="row">
      <div class="col-md-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#form" aria-controls="form" role="tab" data-toggle="tab">Form</a></li>
          <li role="presentation"><a href="#guests" aria-controls="guests" role="tab" data-toggle="tab">Guests</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Tab pane 1 -->
          <div role="tabpanel" class="tab-pane active" id="form">
            <div>

              <form class="col-md-6 well" ng-controller="FormController as vm" ng-submit="vm.addGuest(vm.currentGuest); vm.newGuest(); vm.switch()">
                <div class="form-group">
                  <label for="guest-name">Guest Name</label>
                  <input type="text" class="form-control" id="guest-name" placeholder="" ng-model="vm.currentGuest.name">
                </div>
                <div class="form-group">
                  <label for="transition-date">Transition Date</label>
                  <input type="date" class="form-control" id="transition-date" placeholder="" ng-model="vm.currentGuest.transitionDate">
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pickup-dropoff" id="pickup" ng-model="vm.currentGuest.transportation" ng-value="vm.currentGuest.PICK_UP" ng-change="vm.currentGuest.setPickUp()">
                    Pick-up
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pickup-dropoff" id="dropoff" ng-model="vm.currentGuest.transportation" ng-value="vm.currentGuest.DROP_OFF" ng-change="vm.currentGuest.setDropOff()">
                    Drop-off
                  </label>
                </div>
                <div class="form-group" ng-show="vm.currentGuest.isPickUp()">
                  <label for="location">Location</label>
                  <textarea class="form-control" id="location" ng-model="vm.currentGuest.pickupLocation"></textarea>
                </div>
                <button type="submit" class="btn">Submit</button>
              </form>
            </div>
          </div>

          <!-- Tab pane 2 -->
          <div role="tabpanel" class="tab-pane" id="guests" ng-controller="TabController as vm" >
            <ul class="list-unstyled">
              <!-- <li ng-repeat="guest in vm.guests track by $index"> -->
                <!-- why would this output [object Object] -->
                <!-- the reason, which was found out later, was that the parse'd data lost Guest type info -->
                <!--{{guest.toString();}} -->
              <!-- </li> -->
            </ul>

            <h4>Current Guests</h4>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width:20%">Name</th>
                        <th style="width:20%">Transition Date</th>
                        <th style="width:30%">Location</th>
                        <th style="width:15%">Status</th>
                        <th style="width:15%">Action</th>
                    </tr>
                </thead>
                <tbody>
                  <!-- needed to write custom filter to check if 'deleted' is undefined. -->
                  <!-- also note the filter function needs to be referenced with 'vm.' prefix -->
                  <!--
                    <tr ng-repeat="guest in vm.guests | filter:{deleted: false} track by guest.id">
                    -->
                    <tr ng-repeat="guest in vm.guests | filter:vm.filterOutDeleted track by guest.id">
                        <td>
                          <span editable-text="guest.name" e-name="name" e-form="rowform" e-required>
                            {{ guest.name }}
                          </span>
                        </td>
                        <td>
                          <span editable-date="guest.transitionDate" e-name="transitionDate" e-form="rowform">
                            {{guest.transitionDate | date:'MM/dd/yyyy' }}
                          </span>
                        </td>

                        <!-- allow the pickupLocation editable only for pickup -->
                        <td ng-if="guest.canChangePickUpLocation()">
                          <span editable-text="guest.pickupLocation" e-name="pickupLocation" e-form="rowform" e-required>
                            {{ guest.pickupLocation }}
                          </span>
                        </td>
                        <td ng-if="!guest.canChangePickUpLocation()">
                            {{ guest.pickupLocation }}
                        </td>


                        <td>
                          <span editable-select="guest.status" e-name="status" e-form="rowform" e-ng-options="s for s in vm.getNextStatus(guest)">
                            {{ guest.status }}
                          </span>
                        </td>

                        <td style="white-space: nowrap">
                          <!-- form -->
                          <form editable-form name="rowform" onbeforesave="vm.updateGuest($data, guest)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="false">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                              Save
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                              Cancel
                            </button>
                          </form>
                          <div class="buttons" ng-show="!rowform.$visible">
                            <button class="btn btn-primary" ng-click="rowform.$show()">Edit</button>
                            <button class="btn btn-danger" ng-click="vm.deleteGuest(guest)">Delete</button>
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- show the deleted guests -->
            <h4>Deleted Guests</h4>
            <ul class="list-unstyled">
              <li ng-repeat="guest in vm.guests | filter:{deleted: true} track by $index">
                {{guest.name}}
              </li>
            </ul>

          </div>

        </div>
      </div>
    </div>
  </body>
</html>
