<!DOCTYPE html>
<html ng-app="shuffling">

  <head>
    <meta charset="utf-8" />
    <title>Shuffling Pines</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="vendors.js"></script>
    <script src="app.js"></script>
  </head>

  <body>
    <h1>Shuffling Pines</h1>
    <div class="row">
      <div class="col-md-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#form" aria-controls="form" role="tab" data-toggle="tab">Form</a></li>
          <li role="presentation"><a href="#guests" aria-controls="guests" role="tab" data-toggle="tab">Guests</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Tab pane 1 -->
          <div role="tabpanel" class="tab-pane active" id="form">
            <div>

              <form class="col-md-6 well" ng-controller="FormController as vm" ng-submit="vm.addGuest(vm.currentGuest); vm.newGuest(); vm.switch()">
                <div class="form-group">
                  <label for="guest-name">Guest Name</label>
                  <input type="text" class="form-control" id="guest-name" placeholder="" ng-model="vm.currentGuest.name">
                </div>
                <div class="form-group">
                  <label for="transition-date">Transition Date</label>
                  <input type="date" class="form-control" id="transition-date" placeholder="" ng-model="vm.currentGuest.transitionDate">
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pickup-dropoff" id="pickup" ng-model="vm.currentGuest.transportation" ng-value="vm.currentGuest.PICK_UP" ng-change="vm.currentGuest.setPickUp()">
                    Pick-up
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pickup-dropoff" id="dropoff" ng-model="vm.currentGuest.transportation" ng-value="vm.currentGuest.DROP_OFF" ng-change="vm.currentGuest.setDropOff()">
                    Drop-off
                  </label>
                </div>
                <div class="form-group" ng-show="vm.currentGuest.isPickUp()">
                  <label for="location">Location</label>
                  <textarea class="form-control" id="location" ng-model="vm.currentGuest.pickupLocation"></textarea>
                </div>
                <button type="submit" class="btn">Submit</button>
              </form>

              <!-- bound display -->
              <div ng-show="true" class="col-md-6 well">
                <div ng-show="true" class="form-group">
                  <label>Name: </label>
                  John Harvard
                </div>
                <div ng-show="true" class="form-group">
                  <label>Transition Date: </label>
                  today!
                </div>
                <div ng-show="true" class="form-group">
                  <label>Status: </label>
                  drop-off
                </div>
                <div ng-show="true" class="form-group">
                  <label>Location: </label>
                  right here
                </div>
              </div>

            </div>
          </div>

          <!-- Tab pane 2 -->
          <div role="tabpanel" class="tab-pane" id="guests" ng-controller="TabController as vm" >
            <ul class="list-unstyled">
              <li ng-repeat="guest in vm.guests track by $index">
                <!-- why would this output [object Object] -->
                <!-- the reason, which was found out later, was that the parse'd data lost Guest type info -->
                <!--{{guest.toString();}} -->
              </li>
            </ul>

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Transition Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                  <!-- needed to write custom filter to check if 'deleted' is undefined. -->
                  <!-- also note the filter function needs to be referenced with 'vm.' prefix -->
                  <!--
                    <tr ng-repeat="guest in vm.guests | filter:{deleted: false} track by guest.id">
                    -->
                    <tr ng-repeat="guest in vm.guests | filter:vm.filterOutDeleted track by guest.id">

                        <td>{{guest.name}}</td>
                        <td>{{guest.transitionDate}}</td>
                        <td class="text-right">{{guest.status}}</td>
                        <td class="text-center">
                            <button class="btn btn-xs btn-primary"
                                    ng-click="vm.deleteGuest(guest)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>

  </body>
</html>
